html, body {
    height:100% ;
    margin:0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

body{
    display: flex;
    flex-direction: column;
}

.header{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #1B1212;
    color: white;
    padding: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container .menu{
    border: 1px solid black;
    width: 400px;
    height: 400px;
}

.container .menu button,
.player1WinMenu button,
.player2WinMenu button{
    margin-top: 10px;
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 15px;
}

.container .menu #startButton{
    margin-top: 50px;
}

.container .menu button:hover,
.player1WinMenu button:hover,
.player2WinMenu button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.container .board{
    background-color: black;
    width: 480px;
    height: 455px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    display: none;
}

.tile{
    border: 1px solid #F5DEB3;
    width: 150px;
    height: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 100px;
}

.tile:hover{
    cursor: pointer;
}

.player1WinMenu,
.player2WinMenu{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
}
